<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <!--<add name="DayCareDemoConnectionString" connectionString="Data Source=smartcare-db1.cloudapp.net;Initial Catalog=DayCareDemo;Persist Security Info=True;User ID=hromero;Password=hromero123;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="DayCareDemoConnectionString" connectionString="Data Source=smartcare-db1.cloudapp.net;Initial Catalog=DayCare_1;Persist Security Info=True;User ID=hromero;Password=hromero123;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="SmartReportingDevContext" connectionString="Data Source=smartcare-dw1.cloudapp.net;Initial Catalog=SmartReportingDev;Persist Security Info=True;User ID=hromero;Password=hromero123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>